@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Portal</h1>
<h3>Please select from the following options:</h3>



<p>
    @Html.ActionLink("Your Details", "Details", new { id = Model.Id })
</p>
<p>
    @Html.ActionLink("Edit Your Information", "Edit", new { id = Model.Id })
</p>
<p>
    @Html.ActionLink("Change Your Scheduled Pickup Day", "SetPickupDay", new { id = Model.Id })
</p>
<p>
    @Html.ActionLink("Temporarily Start/Stop Service", "TemporaryStartOrStopService", new { id = Model.Id })
</p>
<p>
    @Html.ActionLink("Schedule Extra Pickup", "ExtraOneTimePickup", new { id = Model.Id })
</p>
<p>
    @Html.ActionLink("Check Your Balance", "CheckBalance", new { id = Model.Id })
</p>

